backend/vendor
backend/.env
frontend/node_modules
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/build
frontend/.cache
frontend/dist
frontend/.parcel-cache
frontend/.vite
frontend/.turbo
frontend/.next
frontend/out
frontend/.vercel
frontend/.vercel_build_output
frontend/.vercel_cache
frontend/.firebase
frontend/firebase-debug.log
frontend/firebase.json
frontend/firestore.indexes.json
frontend/firestore.rules
frontend/storage.rules
frontend/storage.test.rules
frontend/firebaserc
frontend/.firebase/
frontend/functions/node_modules
frontend/functions/lib
frontend/functions/.env
frontend/functions/.firebase
frontend/functions/firebase-debug.log
frontend/functions/.turbo
frontend/functions/.vercel
frontend/functions/.vercel_build_output
frontend/functions/.vercel_cache
frontend/functions/.next
frontend/functions/out
frontend/functions/.parcel-cache
frontend/functions/.vite
frontend/functions/.cache
frontend/functions/dist
frontend/functions/.firebase/
frontend/functions/firebase.json
frontend/functions/firestore.indexes.json
frontend/functions/firestore.rules
frontend/functions/storage.rules
frontend/functions/storage.test.rules
frontend/functions/firebaserc
backend/storage/*
backend/public/storage
!.gitignore
!backend/.gitignore
!frontend/.gitignore
!frontend/functions/.gitignore
.DS_Store
Thumbs.db
*.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
frontend/.pnpm-store
frontend/.pnpm-store/*
